<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="center-block text-center">
    <p>
      
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h1 class="text-center">Countries:</h1></p>
    <p class="text-center">Type in a country to seach for current travel warnings and alerts.</p>
    <p>
      <%= form_tag countries_path, :method => 'get' do %>
        <%= text_field_tag :search %>
        <p><%= submit_tag "Search" %></p>
      <% end %>
    </p>
    <p>
    
    

    <div class="hide">
      <p><h1>All Countries</h1></p>
      <ul>
        <% @countries.each do |country|%>
          <p><li><%= country.name %> - <%= country.code %></li></p>
        <% end %>
      </ul>    
    </div>
  </div>
</body>
</html>