<body class="main">
  <div class="center-block text-center">
    <p>
    </p>
    <p>&nbsp;</p>
    <%= image_tag("map/map.png", width: 550, class: "logo") %><p>

    <p><%= image_tag("logo/stv_logo.png", width: 320, class: "logo") %></p>
    <p>&nbsp;</p>
    <p><input type="text" name="search" id="search" list="country_list" placeholder="Search Countries">
    <p><input type="submit" name="search"></p>
    <p><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><%= image_tag("logo/ussd.png", width: 35, class: "icon") %>
    <%= image_tag("logo/google.png", width: 35, class: "icon") %>
    <%= image_tag("logo/nyt.png", width: 30, class: "icon") %></p>

    <p class="fine">Created with APIs from the U.S. State Department, The New York Times and Google Maps.</p>
    <p>&nbsp;</p>

  <footer>
    <p class="fine">
    This web site is in no way affiliated with the U.S. State Dept. 
    If you wish to have the most up to date <br>and accurate information please visit the official U.S. State Department website here.</p>
  </footer>
</body>