  <div class="container-fluid warning">
    <div class="row">    
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= image_tag("icons/danger.png", width: 150, height: 150, class: "warning-alert") %>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="row">    
    <div class="col-md-3"></div>
    <div class="col-md-6 description">
      <div class="country_heading">
        <p class="title"><%= @country.name %></p><br>
        <div class="col-md-12 heading-bar">
        </div>
      
      <% if @country.description %>
        <strong>Effective: <%= @country.publication_date %></strong>
        <p>&nbsp;<p><%= @country.description.html_safe %></p>
        <% else %>
          <p>The U.S. State Department does not have any current travel advisories for <%= @country.name %>.</p>
        <% end %>
        </p>
        </div>
    </div>
    <p>
<!-- <div class="col-md-6 heading-bar">
        </div><p> -->
    <div class="col-md-3"></div>
  </div>

  <div class="row">    
    
    <div class="col-md-3"></div>
    
    <!-- <div class="col-md-6 description">
      <h1 class="name">Recent Articles</h1>    
      <%# @country.articles.each do |article| %>
      
        <%# if article.image_url %>    
          <%#= image_url("<%= article.image_url %>") %><p>
        <%# end %>      
        <h2><%#= article.title %></h2><br>
 
      <%# end %>
    </div> -->

    <div class="col-md-3"></div>
  
  </div>


  <p class="title">Map</p><br>
  <div id="map-canvas" class="container-fluid warning"></div>
  
  <div class="row">    
    <div class="col-md-3"></div>
    <div class="col-md-6 description">
      <div class="country_heading">
        <p class="title">Articles</p><br>
        <div class="col-md-12 heading-bar">
        </div>
      
      <% if @country.description %>
        
        <% @articles.each do |article| %>
        
          <% if article.image_url %>
            <img src="http://www.nytimes.com/<%= article.image_url %>"><p>
          <% end %>

          <p class="title2"><%= article.title %></p><br>
        <% end %>

      <% end %>
        </div>
    </div>
    <p>
<!-- <div class="col-md-6 heading-bar">
        </div><p> -->
    <div class="col-md-3"></div>
  </div>


</body>



</html>
